<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>work-mirror</id>
            <url>https://repository.work.com/maven-public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <servers>
        <!-- Passwords are generated using 'mvn --encrypt-password', after a master password has been set -->
        <server>
            <id>work</id>  
            <username>work username</username>
            <password>encrypted work acess token</password>
        </server>
        <server>
            <id>ossrh</id>
            <username>central private username</username>
            <password>encrypted central private access token</password>
        </server>
        <server>
            <id>ossrh-work</id>
            <username>central work username</username>
            <password>encrypted central work access token</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>personal</id>
            <properties>
                <gpg.keyname>id of personal key</gpg.keyname>
            </properties>
        </profile>
        <profile>
            <id>work</id>
            <properties>
                <gpg.keyname>id of work key</gpg.keyname>
            </properties>
        </profile>
    </profiles>
</settings>
